@font-face{
    font-family: 'Norwester';
    src: url(assets/fonts/norwester.wwof2)
}

body {
    background-color: #92140c;
    margin: 0;
    font-family: 'Norwester';
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: popIn 0.6s ease-in-out;
}

@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.login_form {
    background-color: #FFF8F0;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform-origin: center;
}
h1{
    font-size: 45px;
    color:#9c7446;
}
input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px; 
    border-radius: 4px;
    background-color: #b4b2b0;
}

input::placeholder {
    color: #424040;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    color: #1e1e24;
}

button {
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #111d4a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {  
    background-color: #af3c3c;
}

a{
    padding-top: 15px;
    text-decoration: none;
    color: #1e1e24;
}
.arrow img {
    width: 40px; 
    height: auto; 
    transition: transform 0.3s ease; 
}

.arrow:hover img {
    transform: scale(1.5); 
}
